// styles for controls
@import "variables";

.content {
  /*** Basic ***/
  button {
    border-radius: $btn-default-border-radius;
    border-width: $btn-default-border-width;
    padding: $btn-default-padding;
    vertical-align: center;
    font-size: $btn-default-font-size;
  }

  button:hover {
    cursor: pointer;
  }

  /*** Custom ***/
  button.app-btn-toggle {
    padding: 1.2rem;
    width: 20rem;
    margin: 1.5rem;
  }

  .btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-group button {
    width: 30%;
    min-width: 10rem;
    height: 5rem;
    margin: 1.5rem;
  }

  /** Style the depth list **/
  ul.depth {
    padding: 0.7rem 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  /* Display list items side by side */
  ul.depth li {
    font-size: 1.3rem;
    padding: 0.5rem;
  }

  /* Add a color to all links inside the list */
  ul.depth li a {
    text-decoration: none;
    display: inline-block;
    width: 20%;
    min-width: 10rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: auto;
    border-radius: 0.3rem;
  }

  ul.depth li a.selected, .visits-btn.selected {
    font-weight: bold;
  }

  /** Files sorting **/
  .move-up, .move-down {
    font-size: 1.5rem;
    position: absolute;
    top: 0.2rem;
    margin: 0 0.2rem;
    cursor: pointer;
  }

  .move-up {
    left: -4.6rem;
  }

  .move-down {
    left: -2.4rem;
  }

  li:first-child .move-up, li:last-child .move-down {
    cursor: default;
  }





  // Header menu

  #menu {
    ul {
      list-style: none;
    }

    .themes-container {
      position: relative;

      a {
        color: #aacd4e;
      }

      ul {
        position: absolute;
        top: 2rem;
        //left: 0;
        right: 0;
        width: 12.5rem;
        //padding: 0;
        background-color: #4c4c4c;
        padding: 0.3rem;
        border-radius: 0.2rem;
        box-shadow: 0.2rem 0.2rem 0.5rem black;
      }

      .selected {
        color: #e44816;
        cursor: default;
      }
    }

    ul.menu-list {
      padding: 0.7rem 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;

      li {
        //border: 1px solid white;
      }
    }

  }

}
