// basic layout styles

@import "variables";

body {
  font-family: $default-font-family;
  font-size: $default-font-size;
}

.content {
  margin: auto;
  max-width: 60rem;

  /*** Basic ***/
  * {
    font-family: $default-font-family;
  }

  a {
    text-decoration: $link-default-decoration;
  }

  a:hover {
    text-decoration: $link-default-decoration;
  }

  li {
    padding: 0.2rem 0;
  }

  /*** Page header ***/
  #menu h1 span {
    position: relative;
    top: -0.5rem;
  }

  #menu h1 {
    padding: 0;
    margin: 0;
  }

  /*** Breadcrumbs ***/
  .breadcrumbs ul {
    padding: 0.7rem 1rem;
    list-style: none;
  }

  /* Display list items side by side */
  .breadcrumbs ul li {
    display: inline;
    font-size: 1.3rem;
  }

  /* Add a slash symbol (/) before/behind each list item */
  .breadcrumbs ul li + li:before {
    padding: 0.4rem;
    content: "/\00a0";
  }

  /*** Custom ***/
  .hidden {
    display: none;
  }

  #files_list .items_list {
    padding-left: 5rem;
  }

  #files_list li {
    position: relative;
  }

  #files_list li, #folders_list li {
    list-style: none;
  }

  .legend {
    font-size: 0.7em;
  }

  .legend_info {
    padding-left: 1em;
  }

  #sort_pattern {
    font-size: 0.85em;
  }

  #sort_custom {
    width: 20rem;
  }

  #sort_reverse_input {
    margin: 1em 0;
  }

  #sort_regex_flags {
    width: 3rem;
  }

  .apply-sort-btn {
    padding: 0.7em;
  }

  .legend_wrapper {
    padding: 10px 0 10px
  }
}