// Common variables & defaults
//noinspection CssUnknownTarget
@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
//@import "../theme/monochrome-dark-theme/monochrome-dark-theme";

// basic defaults
$default-font-size: 1.2rem;
$default-font-family: 'Raleway', sans-serif;

$link-default-decoration: none;

// buttons
$btn-default-border-radius: 0.2rem;
$btn-default-border-width: 0;
$btn-default-padding: 1rem;
$btn-default-font-size: $default-font-size;


