button.app-btn {
    color: black;
    background: greenyellow;
}

button.del-btn {
    color: black;
    background: #ff6033;
    border-radius: 5px;
    font-size: 1.2rem;
}

button.app-btn-toggle {
    color: black;
    background: #0c9cff;
    padding: 1.2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 10rem;
}

.content a.selected {
    font-weight: bold;
    color: #B0413E;
}

.content a {
    color: #1880ee;
    text-decoration: none;
}

.content li {
    padding: 0.2rem 0;
}

.content button:hover {
    cursor: pointer;
}

.content button:active {
    background-color: #9a9a9a;
}

.content .hidden {
    display: none;
}

.content {
    font-size: 1.2rem;
    color: #F0FFF0;
}

.content * {
    font-family: 'Raleway', sans-serif;
}

.content * {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #313131;
    font-family: 'Raleway', sans-serif;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group button {
    width: 30%;
    min-width: 10rem;
    height: 5rem;
    color: black;
    padding: 1.0rem;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1.5rem;
    vertical-align: center;
}


@media screen and (max-width: 500px) {
    .btn-group button {
        width: 40%;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    button.app-btn-toggle {
        padding: 1.2rem;
        width: 20rem;
        height: 5rem;
    }
}