button.app-btn {
    color: black;
    background: #85cb2b;
}

button.del-btn {
    color: black;
    background: #ff6033;
    border-radius: 5px;
    font-size: 1.2rem;
}

button.visits-btn {
    color: black;
    background: #7e3f2c;
    border-radius: 5px;
    font-size: 1.2rem;
}

button.app-btn-toggle {
    color: black;
    background: #0C74BA;
    padding: 1.2rem;
    border-radius: 5px;
    font-size: 1.1rem;
    width: 20rem;
    margin: 1.5rem;
}

.content a.selected {
    font-weight: bold;
    color: #B0413E;
}

.content a {
    color: #0C74BA;
    text-decoration: none;
}

.content li {
    padding: 0.2rem 0;
}

.content button:hover {
    cursor: pointer;
}

.content button:active {
    background-color: #9a9a9a;
}

.content .hidden {
    display: none;
}

.content {
    font-size: 1.2rem;
    color: #F0FFF0;
    margin: auto;
    max-width: 60rem;
}

.content * {
    font-family: 'Raleway', sans-serif;
}

.content * {
    font-family: 'Raleway', sans-serif;
}

header img.img-logo {
    position: relative;
    top: 0.5rem;
}

.content header h1 a {
    color: #0C74BA;
}

body {
    background-color: #313131;
    font-family: 'Raleway', sans-serif;
}

.btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-group button {
    width: 30%;
    min-width: 10rem;
    height: 5rem;
    color: black;
    padding: 1.0rem;
    border-radius: 5px;
    font-size: 1.2rem;
    margin: 1.5rem;
    vertical-align: center;
    border-width: 0;
}


@media screen and (max-width: 500px) {
    .btn-group button {
        width: 40%;
        margin: 0.5rem;
        padding: 0.5rem;
    }

    button.app-btn-toggle {
        padding: 1.2rem;
        height: 5rem;
    }
}

/*@media screen and (min-width: 800px) {*/
    /*.content {*/
        /*max-width: 50rem;*/
    /*}*/
/*}*/

/*** Navigation ***/

/* Style the list */
.content .breadcrumbs ul {
    padding: 0.7rem 1rem;
    list-style: none;
    background-color: #4c4c4c;
}

/* Display list items side by side */
.content .breadcrumbs ul li {
    display: inline;
    font-size: 1.3rem;
}

/* Add a slash symbol (/) before/behind each list item */
.content .breadcrumbs ul li+li:before {
    padding: 8px;
    color: #F0FFF0;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
.content .breadcrumbs ul li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
.content .breadcrumbs ul li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.content #folders_list a:visited, .content #folders_list a.visited {
    color: #0c5c9a;
}

/** Style the depth list **/
.content ul.depth {
    padding: 0.7rem 1rem;
    list-style: none;
    /*background-color: #4c4c4c;*/

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    /*justify-content: space-between;*/
    justify-content: space-around;
}

/* Display list items side by side */
.content ul.depth li {
    /*display: inline-block;*/
    /*display: inline;*/
    font-size: 1.3rem;
    padding: 0.5rem;
}

/* Add a slash symbol (/) before/behind each list item */
/*.content ul.depth li+li:before {*/
    /*padding: 8px;*/
    /*color: #F0FFF0;*/
    /*content: "/\00a0";*/
/*}*/

/* Add a color to all links inside the list */
.content ul.depth li a {
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 20%;
    min-width: 10rem;
    padding: 0.5rem;
    text-align: center;
    vertical-align: auto;
    border-radius: 0.3rem;
    background-color: #7e3f2c;
    /*vertical-align: center;*/
}
.content ul.depth li a.selected, .visits-btn.selected {
    background-color: coral;
}

/* Add a color on mouse-over */
.content ul.depth li a:hover {
    color: #c9c9c9;
    text-decoration: none;
}
.content ul.depth li a.selected:hover {
    color: #313131;
}